.main-container{
    background-image: url('../../../assets/images/home_bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}
.logo-imperio{
    background-image: url('../../../assets/images/logo-imperio.png');
    position: absolute;
    background-size: cover;
    transform: translate(-50%, -50%);
    width: 475px;
    height: 475px;
    top: 50%;
    left: 50%;
    background-position-y: -14px;
}
#particles-js{ 
    width: 100%; 
    height: calc(100% - 160px);
    background-color: #efefef00; 
    background-repeat: no-repeat; 
    background-size: cover; 
    position: absolute;
}