<div class="main-container">
    <div class="row no-gutters h-100 justify-content-md-center">
        <div class="col-lg-auto" *ngIf="!this.cat ; else outerCategorie">
            <div class="container-slide">
                <!--slider------------------->
                <ul id="autoWidth" class="cs-hidden">
                <!--1------------------------------>
                    <div *ngFor="let game of games">
                        <li class="item-a" value={{game.id}} (click)="onClickGame($event)">
                            <!--slider-box-->
                            <div class="box">
                                <img class="model" src="{{url + 'load-images/'+ game.image}}">
                            </div>
                        </li>
                    </div>
                </ul>
                <button class="btn" id="goToPrevSlide">
                    <img class="model" src="../../../assets/images/prev.png">
                </button>
                <button class="btn" id="goToNextSlide">
                    <img class="model" src="../../../assets/images/next.png">
                </button>         
            </div>

        </div>
        <ng-template #outerCategorie>
            <div class="col-lg-10">
                <div class="row no-gutters h-100 justify-content-md-center">
                    <div class="col-lg-2 container-games">
                        <ul class="scroll-list">
                            <div *ngFor="let game of games">
                                <li class="item-a" value={{game.id}} (click)="onClickGame($event)">
                                    <!--slider-box-->
                                    <div class="list-div">
                                        <img class="model" src="{{url + 'load-images/'+ game.image}}">
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <div class="col-lg-10 container-slide-categories" id="list-categories">
                        <!--slider------------------->
                        <ul id="autoWidths" class="cs-hidden">
                        <!--1------------------------------>
                            <div *ngFor="let categorie of categories">
                                <li class="item-a" value={{categorie.id}}>
                                    <!--slider-box-->
                                    <div class="box-cat">
                                        <img class="model" src="{{url + 'load-images/'+ categorie.image}}">
                                    </div>
                                </li>
                            </div>
                        </ul>
                        <button class="btn" id="goToPrevSlider">
                            <img class="model" src="../../../assets/images/prev.png">
                        </button>
                        <button class="btn" id="goToNextSlider">
                            <img class="model" src="../../../assets/images/next.png">
                        </button>         
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>
